html, body {
    height: 100%;
}

body, .bg-dark-custom {
    background-color: rgb(20, 20, 20);
}

h1, h2, h3, h4, h5, h6 {
    color: rgb(212, 212, 212);
}

 p, .table-striped td {
    color: rgb(156, 153, 153);
}


.table-striped th, .table-striped td{
    padding-right: 30px;
}

.table-striped th{
    border-bottom: 2px solid gray;
}

.navbar {
    margin-bottom: 30px;
}

.navbar .nav-link, .table-striped th {
    color: rgb(216, 213, 213);
    font-weight: bold;
}

.sidebar-heading {
    margin-top: 25px;
    font-size: 1.1rem;
    color: rgb(216, 213, 213);
    text-transform: uppercase;
}

.navbar .nav-link:hover {
    color: rgb(143, 141, 141);
    font-weight: bold;
}

.left-align-box h1, 
.left-align-box h2, 
.left-align-box h3,
.left-align-box h4,
.left-align-box p{
    text-align: left;
}

.facts-box p{
    margin-bottom: 0px;
}

.box-link>a>div {
    background-color: rgb(7, 7, 7);
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 25px;
    padding: 25px;
    border: 1px #3a3a3a solid;
}

.box-link>a:hover>div{
    background-color: rgb(0, 0, 0);
    border: 1px #3a3a3a solid;
    box-shadow: 0 0 2px #535353;
}

.box-link>a:hover{
    text-decoration: none;
}

.simulation-form{
    border: 2px grey solid;
    max-width: 400px;
}